/* S06_Ex4: No arquivo CSS, adicione estilos para os elementos HTML adicionados anteriormente, como formatação de texto, cores, espaçamento, etc. */

body{
    background: url("wallpapers.jpg") no-repeat right top fixed;
    background-size: cover;
}

.exe{
    color: rgb(184, 184, 184);
    text-align: center;
    width: 100%;
    display: inline-block;

}

p{
    margin-left: 3%;
}

section{
    background-color: rgba(34, 168, 221, 0.253);
    height: 100%;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container{
    background: #fffffff7;
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

h4{
    text-align: center;
}

figure{
    background: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
    border-radius: 100%;
    width:150px;
    height: 150px;
    background-image: url("eu.jpg");
    background-size: cover;
}

figure img{
    width:40%;
}

.descricao{
    width: 50%;
    text-align: center;
    color: rgb(134, 134, 134);
}

a{
    text-decoration: none;
    color:#fff;
}

button{
    background: #000;
    width: 120px;
    height:50px;
    color:#000;
    border:none;
    font-size: 18px;
    margin-top: 20px;
}

ul{
    list-style-type: none;
    position: relative;
    right: 25px;
    text-align: center;
    
}

li a{
    color:#ffffff;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    position: relative;
    top:15px;
}