/* S06_Ex2: Crie um arquivo CSS chamado styles.css e adicione um estilo básico para o cabeçalho, o conteúdo principal e o rodapé. */

span{
    color: rgb(134, 134, 134);
    margin-left: 1%;
    margin-top: 2%;
    }
p{
    margin-left: 3%;
}

header{
    background-color: rgb(36, 118, 150);
    height: 55px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
}

nav{
    background-color: rgb(89, 163, 147);
    height: 35px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 20px;
}

section{
    background-color: rgb(221, 180, 134);
    height: 60px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 20px;
}

aside{
    background-color: rgb(134, 198, 214);
    height: 35px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 20px;
}

article{
    background-color: rgb(90, 85, 155);
    height: 45px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 20px;
}

footer{
    background-color: rgb(196, 117, 117);
    height: 45px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 20px;
}