body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #000000;
    height: 100px;
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color:#ffffff;
}

nav{
    color:#fff;
}

ul{
    display: flex;
}

li{
    padding-left: 30px;
    list-style-type: none;
}

section{
    display: flex;
    background-color: #35d1ec;
    width: 80%;
    height: 420px;
}

.titulo{
    width:50%;
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
}

p{
    color:#B2B2B2;
}

button{
    background-color: #FFBF00;
    border:none;
    padding: 7px;
    color:#332200;
}

figure{
    width:50%;
    background-image: url(../img/bike.jpg);
    background-size: cover;
}





