body{
    margin:0 auto;
}

header{
    height:70px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hea1{
    height:50px;
    /* background: #000; */
}

.hea2{
    height:50px;
    width:480px;
    /* background: #000000; */
    margin: 0 10px 0 325px;
}

ul{
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    font-family:Verdana;
    color:#d1d1d1;
    font-size: 14px;
    padding:2px 75px;
    
}

.hea2 ul li a{
    text-decoration: none;
    color:#fff;
    
}

.head ul li a:link{
    color:#fff;
}

.hea2 ul li a:visited{
    color: #fff;
}

.hea2 ul li a:hover{
    color:#9cb4cc;
}

.hea3{
    height:50px;
    width:180px;
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.hea3 img{
    width:33px;
    margin:0 15px
}


/* section home */
section{
    height: 500px;;
    display: flex;
    justify-content: center ;
}

.sectionHome{
    /* background:#ececec; */
    height:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 50px;
    color:#686363;
    margin: 10px 0;
}

.textH1{
    color:#9b9595;
}

.blo1{
    height:50%;
    width:20%;
    text-align: center;
}

.blo2{
    height:50%;
    width:47%;     
}

.blo2 img{
    position: relative;
    bottom:125px;
}

.blo3{
    height:50%;
    width:20%;
    text-align: center;  
}


/* Seção de artigos */
.secArticlo{
    background:#e7e7e7;
    height:400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2{
    margin-bottom: 0;
}

.algunsProjetos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artClass{
    width:1100px;
    display: flex;
    justify-content:space-around;
}

.pj{
    font-size: 20px;
    font-family:Verdana;
    color:#9b9595;    
}

.art{   
    width:30%;
    background:#c7c7c7;
    height:275px;
    margin-left: 5px;
    text-align: center;
}

figure{
    width:75%;
    height:150px;
}

figure.fig1{
    background-image: url("../img/behance2.png");
    background-size: cover;
}

figure.fig2{
    background-image: url("../img/github.png");
    background-size: cover;
}

figure.fig3{
    background-image: url("../img/linkedin2.png");
    background-size: cover;
}

article span{
    color:#9b9595;
    display: inline-block;
    width: 55%;
}

h3 a{
    color:#686363;
    text-decoration: none;
}

a:hover{
    color:#a779ff; 
}


/* Seção sobre */
#sobre{
    height:100%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
}

.pjSobre{
    width: 80%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#sobre h2{
    color:#9b9595;
    font-size:26px;
    text-align: center;
    justify-content: center;
    margin:0;
}

.sob1{
    width:21%;
    text-align: center;
    position: relative;
    bottom:10px;
}

.sob1 p{
    font-size:16px;
    color:#686363;
}

.sob2{
    width:35%;
    display: flex;
    justify-content: flex-end;
}

figure.imgSob{
    height:400px;
    background-image: url("../img/sobre.png");
    background-size: cover;
}


/* Seção sobre */
#contato{
    height:580px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    background-color: #e7e7e7;
}

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:15px;
    color:#9b9595;
}

.bCont1{
    display: flex;
    order:1;
    flex-wrap: wrap;
    justify-content: center;
    color:#9b9595;
}

#contato ul{
    color:#9b9595;
    display: flex;
    flex-direction: column;
}

#contato ul li img{
    width:30px;
    position:relative;
    bottom:7px;
}

#contato ul li{
    padding:15px;
    width:150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Rodapé */
footer{
    background: #000000;
    height:51px;
    display: flex;
}

.dRes{
    margin-left: 25%;
    width:50%;
    display: flex;
    align-items:center;
    color:#d1d1d1;
}

.iFooter{
    width:58%;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iFooter ul li{
  padding: 0 20px;
  color:#d1d1d1;
  font-size: 13px;
}
