body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

section{
    border-radius: 30px;
    width: 50%;
    height: 700px;
    background-color:#81ee98;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width:100%;
    background-color:#40423f;
    color:#fff;
    height: 10%;
    display: flex;
    align-items: center;
}

.forms {
    width:100%;
    background-color:#81ee98;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    margin-bottom: 25px;
}

input {
    margin: 0 0 20px 35px;
    width:200px;
}

label {
    position: relative;
    right:35px;
    width: 100px;
    margin-bottom: 5px;
}

button {
    background-color: #000;
    color:#fff;
    height: 30px;;
    width: 100px;
    border: none;
    border-radius: 5px;
    position: relative;
    right:35px;   
}

p{
    margin-left: 30px;
}

span{
    margin-left: 160px;
}
